@import "vars";

@import 'menu/event';
@import "menu/left-bar";

* {
  box-sizing: border-box;
}

html {
  background: $cloud;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: $font-weight-standard;
  font-size: $font-size;
}

#page {
  display: flex;
}

#main {
  margin-left: $left-menu-width;
  flex: 1;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#content {
  min-height: 100px;
  display: flex;
}

#footer {
  background: $dark;
  width: 100%;
  padding: 3rem;
  color: white;
  bottom: 0px;
  left: 0px;

  > .row {
    max-width: 800px;
  }

}

.row {
  display: flex;

  > .col {
    flex: 1;
  }
}

#text {
  flex: 1;
  padding: 4rem $horizontal-gap;
  min-width: 800px;

  p.abstract {
    font-weight: $font-weight-bold;
  }

  .meta > .date {
    margin-right: 2rem;
  }
}

#page-img {
  flex: 1;
  margin: 4rem $horizontal-gap 0 0;

  > img {
    width: 100%;
    height: auto;
  }
}

a {
  color:  $main-color;
}

.fill-area {
  width: 100%;
  flex: 1;
}