// colors
$blue: #0069b4;
$cloud: #f0f0f0;
$dark: #333;
$navi: #004C82;
$orange: #ffa450;

$main-color: $blue;
$footer-color: $blue;

// font
$font-size: 19px;
$font-weight-standard: 300;
$font-weight-bold: 500;
$default-font-family: 'Ubuntu';
$title-font-family: 'Ubuntu';