@use "sass:meta";
@use "sass:math";
@use "settings";

// sizes
$max-text-width: 900px;
$min-text-width: 600px;
$left-menu-width: 280px;

$mobile-header-height: 80px;
$mobile-menu-width: 75%;

// distances
$content-gap: 16px;
$gap: 1rem;
$small-gap: math.div($gap, 2);

// animation
$hover-duration: 0.2s;

// breakpoints
$media-direction: max;
$breakpoints: (
        'default': '',
        'xs': 480px,
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1250px,
);

/* --------------------------------------------------
   Breakpoint Mixin
   -------------------------------------------------- */

// $breakpoint = die Größe die ihr braucht.
// Ihr könnt aber auch anstelle von 'xs', 's', 'm', 'l', 'xl' einfach einen Wert eintragen.
// Das macht Sinn wenn man mal einen speziellen Breakpoint braucht. Den muss man dann nicht zwingend in die Sass Map packen.
// $direction: $media-direction = das was ihr in den Settings eingestellt habt.
@mixin breakpoint($breakpoint,$direction: $media-direction) {

  // Es wird gecheckt ob der Wert in der Sass Map vorhanden ist
  @if map-has-key($breakpoints, $breakpoint) {

    // Ausgabe
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

    // Wenn ihr oben einen Wert eingetragen habt wird hier gecheckt ob ihr einen Einheit angehängt habt. Falls nicht wird px genutzt.
  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    // Ausgabe
    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

html {
  $variables: meta.module-variables('settings');
  @each $name, $value in $variables {
    --#{$name}: #{$value};
  }
}
