// colors
$blue: #0069b4;
$cloud: #f0f0f0;
$dark: #333;

$main-color: $blue;

// font
$font-size: 19px;
$font-weight-standard: 300;
$font-weight-bold: 500;

// distances
$horizontal-gap: 3rem;
$left-menu-width: 280px;