#navigation-bar {
  height: 100vh;
  z-index: 0;
  position: fixed;
  width: $left-menu-width;
  display: flex;
  flex-flow: column;

  @include breakpoint('lg') {
    width: 100%;
    height: $mobile-header-height;
  }

  .fill-area {
    background: #ffffff;
  }
}

#logo-area {
  background: #ffffff;
  height: $left-menu-width;

  @include breakpoint('lg') {
    flex: $mobile-header-height;
    height: $mobile-header-height;
  }

  img {
    width: $left-menu-width;
    height: auto;
    padding: 10px;

    @include breakpoint('lg') {
      width: $mobile-header-height;
    }
  }
}

.nav-is-toggled, body.sub-menu-open {
  #overlay {
    display: block;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
}

@import "left-bar";
@import "mobile";