@include breakpoint('lg') {
  .mobile-menu {
    display: inline-block;
    overflow-y: auto;
    height: 0;
  }

  .hide-mobile {
    display: none;
  }

  .custom-logo {
    padding: 18px 0px;
    max-height: 80px;
    max-width: 250px;
    margin: 0px;
    height: auto;
    width: auto;
  }


  button.menu-toggle {
    top: 25px !important;
    z-index: 4;
    display: block;
  }

  #sidebar, .menu-footer {
    display: none !important;
  }

  .nav-is-toggled {
    .menu {
      margin-top: 0;
    }

    .mobile-menu {
      height: calc(100vh - #{$mobile-header-height});
      width: $mobile-menu-width;
      background: $main-color;
      position: absolute;
      right: 0;
      top: $mobile-header-height;
      transition: 0.4s;
    }

    #mobile-search-form, #contact-menu-mobile {
      display: block;
    }

    #contact-menu-mobile {
      text-align: center;
      width: 85%;
      margin: auto;

      a {
        width: 100%;
        display: inline-block;

        &:hover {
          color: white;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0px;
    }

    #main-menu-mobile {
      display: block;
      position: relative;
      width: 100%;

      .menu-item:not(:last-child) {
        border-bottom: solid 1px #dddddd;
      }

      .menu-item-has-children .menu-item:not(:last-child) {
        border-bottom: solid 1px #ddd;
      }

      .menu-item {
        border-bottom: 1px solid white;

        a {
          color: white;
        }
      }

      li {
        a:hover {
          color: white !important;
        }

        &:hover {
          background: $dark;
        }

        > span {
          padding: 0.875em 7.5%;
          display: block;
        }
      }

      li.current_page_item {
        background: $dark;
        padding: 0;

        > span {
          padding: 0.875em calc(7.5% - 10px);
          display: block;
          margin-left: 10px;
          background: $main-color;

          &:hover {
            $background: $dark;
          }
        }

        &:hover {
          background: $main-color;
          color: white;
        }

        &:hover > span {
          background: $dark;
        }
      }

      input {
        color: white;
      }
    }

    .nav-link {
      width: 100%;
      display: block;
    }

    .menu-item-has-children {
      .nav-link {
        width: calc(100% - 2.5rem);
      }
    }

    .nav-expand-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      background-color: $main-color;
      transition: 0.3s;
      visibility: hidden;
      border-top: none !important;
      z-index: 1;

      > li:first-child {
        background: $dark;
      }
    }

    .nav-expand-content .menu-item {
      border-bottom: solid 1px $dark;
    }

    .nav-expand-content .nav-back-link {
      display: flex;
      align-items: center;
      background-color: $dark !important;
      color: #fff;
    }

    .next {
      position: absolute;
      top: 0px;
      right: 0px;
      background: rgba(200, 200, 200, 0.2);
      padding: 0.875em 1.35em;
      font-size: 1rem;
    }

    .next i {
      line-height: 1.5em;
    }

    /**
    * Search Form
    */
    #mobile-search-form {
      position: relative;
      display: block;
      width: 85%;
      text-align: left;
      color: white;
      margin: auto;
      margin-bottom: 2rem;
      margin-top: 4rem;
      padding: 10px 15px 10px 15px;
      border: 1px solid lightgray;
      border-radius: 12px;

      input {
        border: none;
        background: unset;
        max-width: 180px;
      }
    }


    #searchform-mobile {
      width: 80%;
      display: inline-block;

      input {
        max-width: 80%;
      }
    }

    .search-form-icon {
      float: right;
      display: inline-block;
      cursor: pointer;
      -webkit-transition: all 0.6s 0s ease;
      -moz-transition: all 0.6s 0s ease;
      -o-transition: all 0.6s 0s ease;
      transition: all 0.6s 0s ease;

      a {
        float: right;
      }
    }

    .search-form-wrapper {
      width: 100%;
      display: inline-block;
      -webkit-transition: all 0.6s 0s ease;
      -moz-transition: all 0.6s 0s ease;
      -o-transition: all 0.6s 0s ease;
      transition: all 0.6s 0s ease;
    }
  }

  /*
  * Inspiration Menu
  * https://codepen.io/tiffachoo/pen/yzZRXK
  */

  .nav-is-toggled #main-menu-mobile, .menu-item-has-children.active > .nav-expand-content {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .nav-is-toggled::after, .menu-item-has-children.active > .nav-expand-content {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 769px) {
    #main-menu-mobile {
      margin-top: 0px;
    }
  }

  ul.menu {
    flex: 0 0 100%;
  }

  .menu-item-has-children > span {
    position: relative;
    display: block;
  }

  .nav-link {
    color: white;
    line-height: 1.5em;
  }


  /*	Menu Button 	*/
  button.menu-toggle {
    display: block;
    opacity: 1;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    top: ($mobile-header-height - 30px)/2;
    right: $gap;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;

    @include breakpoint('sm') {
      right: $small-gap;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      right: auto;
      width: 80%;
      background: linear-gradient(to bottom, #333333, #333333 16%, transparent 16%, transparent 41%, #333333 41%, #333333 58%, transparent 58%, transparent 84%, #333333 84%, #333333 100%);
      transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
    }

    &:after {
      opacity: 0;
      content: '×';
      color: $dark;
      position: absolute;
      left: -4px;
      font-family: Arial, sans-serif;
      font-size: 76px;
      line-height: 0;
      transition: opacity 0.4s ease-out;
    }
  }

  button.menu-toggle:hover, .open button.menu-toggle {
    opacity: 1;
  }

  .nav-is-toggled button.menu-toggle:before {
    opacity: 0;
    width: 0;
  }

  .nav-is-toggled button.menu-toggle:after {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(180deg);
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  }
}

@media (min-height: 500px) {
  .nav-is-toggled #search {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}